<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>586</integer>
    <key>copyright</key>
    <string>Copyright 2013 The Nerko One Project Authors (https://github.com/nermink99/Nerko/)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Nerko One</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2012/09/29 14:29:12</string>
    <key>openTypeHheaAscender</key>
    <integer>894</integer>
    <key>openTypeHheaDescender</key>
    <integer>-317</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Nermin Kahrimanovic</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Nermin Kahrimanovic</string>
    <key>openTypeNameUniqueID</key>
    <string>FontForge 2.0 : Nerko One Regular : 23-1-2014</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.101</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>477</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>5</integer>
      <integer>31</integer>
      <integer>33</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>NERK</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>894</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>317</integer>
    <key>postscriptBlueScale</key>
    <real>0.03</real>
    <key>postscriptBlueShift</key>
    <integer>3</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-3</integer>
      <integer>1</integer>
      <integer>397</integer>
      <integer>420</integer>
      <integer>564</integer>
      <integer>597</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>NerkoOne-Regular</string>
    <key>postscriptFullName</key>
    <string>Nerko One Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-244</integer>
      <integer>-213</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>57</integer>
      <integer>73</integer>
      <integer>77</integer>
      <integer>85</integer>
      <integer>88</integer>
      <integer>91</integer>
      <integer>95</integer>
      <integer>99</integer>
      <integer>133</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>138</integer>
      <integer>145</integer>
      <integer>152</integer>
      <integer>156</integer>
      <integer>158</integer>
      <integer>162</integer>
      <integer>169</integer>
      <integer>176</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-50</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Nerko One Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>101</integer>
    <key>xHeight</key>
    <integer>426</integer>
  </dict>
</plist>
