<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>uni0200</string>
      <string>uni0202</string>
    </array>
    <key>public.kern1.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>uni01EA</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni1ECC</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>uni021A</string>
      <string>uni1E6C</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uni0214</string>
      <string>uni0216</string>
      <string>uni1EE4</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>uni0200</string>
      <string>uni0202</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Lcaron</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>uni01EA</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni1ECC</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>uni0156</string>
      <string>Rcaron</string>
      <string>uni0210</string>
      <string>uni0212</string>
      <string>uni1E5A</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>uni021A</string>
      <string>uni1E6C</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uni0214</string>
      <string>uni0216</string>
      <string>uni1EE4</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
  </dict>
</plist>
